body {
    margin: 0;
    font-family: 'Microsoft YaHei UI';
}
nav {
    background: grey;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
nav ul:after {
    display: table;
    content: "";
    clear: both;
}

.section > li {
    float: left;
    position: relative;
    border-left: 1px solid black;
}
.section > li:first-child {border-left: 0;}
.section > li > a {
    padding: 20px 30px;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.section > li > a.active,
.subsection a:hover {
    color: blue;
}
.section .fa,
.subsection .fa {
    margin-left: 5px;
    color: inherit;
}
.subsection {
    position: absolute;
    z-index: 5;
    min-width: 200px;
    background: white;
    border-top: 1px solid #CBCBCC;
    border-left: 1px solid #CBCBCC;
    border-right: 1px solid #CBCBCC;
    visibility: hidden;
    opacity: 0;
    transform-origin: 0 0;
    transform: rotateX(-90deg);
    transition: .3s linear;
}
.subsection li {position: relative;}
.subsection li a {
    color: red;
    padding: 10px 20px;
    font-size: 13px;
    border-bottom: 1px solid #CBCBCC;
}

.subsection li a.active { color: #cacaca; }

.subsection .subsection {
    position: absolute;
    left: 100%;
    top: -1px;
    transition: .3s linear;
}

nav a {
    text-decoration: none;
    display: block;
    transition: .3s linear;
}

nav li:hover > .subsection {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
}

@keyframes run {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.run {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  animation: run 20s linear infinite;
}